QPushButton {
  border : 0px;
  align-content: center;
  text-align: center;
}
QPushButton:hover:!pressed {
  width : 105%;
  height : 105%;
}
QLabel {
  border : 0px;
  align-content: center;
  text-align: center;
}
QPushButton#FIND_PATH_BUTTON {background-image: url('./res/img/set_path.png');}
QPushButton#FIND_PATH_BUTTON:pressed {background-image: url('./res/img/set_path_down.png');}
QPushButton#CREATE_BUTTON {background-image: url('./res/img/create.png');}
QPushButton#CREATE_BUTTON:pressed {background-image: url('./res/img/create_down.png');}